.artistHeading {
    margin-top: 88px;
}


.artistsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artist {
    flex-basis: 25%;
    margin: 1em;
    padding: 1em;
}

.artistWorksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.artistWorksCard {
    flex-basis: 25%!important;
    margin: 1em!important;
    padding: 1em!important;
}

.artistWorksImg {
    cursor: pointer;
}

.artistWorksHeading {
    margin-top: 88px;
}

.artistWorksDetailCard {
    width: 33rem;
}

.detailContainer {
    margin-top: 111px;

}
