.requests {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.requestContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
