@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');


.navbar__actual {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 512px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    font-family: 'Ranchers', cursive;
}

.navbar__link {
    color: #FCA311;
}

.nav-profilePhoto {
    width: 66px;
    border-radius: 33px;
    cursor: pointer;
}

/* Color Palette  */
/* black #000000 */
/* dark blue #14213D */
/* better than goldenrod #FCA311 */
/* light grey #E5E5E5 */
/* white #FFFFFF */