@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');



.navbar__actual {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 541px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__link {
    color: #DC3545;
    /* border: 2px solid #DC3545; */
    padding: 0.5px;
    font-family: 'Raleway', sans-serif;

}

.nav-profilePhoto {
    width: 66px;
    border-radius: 33px;
    cursor: pointer;
}


/* Color Palette  */
/* black #000000 */
/* dark blue #14213D */
/* better than goldenrod #FCA311 */
/* light grey #E5E5E5 */
/* white #FFFFFF */